<!--
Wikia Style Guide
User Status Component

Description:
This component provides handling for logged in user state or a call to action for anonymous users.

Example:
	<top-bar
		logo-href="http://www.wikia.com"
		show-user-status>
		<h1>Hello World!</h1>
	</top-bar>

You can use the `showUserStatus` to control whether or not the callout for user registration/user logged in avatar is
shown or not. If `showUserStatus` is true, then the `userLoggedIn` attribute will control whether or not the
registration/signin callout is shown or whether the user avatar is shown.

		user-avatar-src="foo.png"
		user-profile-href="http://wwww.wikia.com"
		user-name="Wikia User"
		user-logged-in

-->

<dom-module id="user-status">
	<template>
		<style>
			:host {
				float: right;
				position: relative;
			}

			figure {
				border-radius: 50%;
				margin: 0;
				height: 25px;
				overflow: hidden;
				width: 25px;
			}

			figure a {
				display: block;
			}

			figure img {
				height: auto;
				width: 100%;
			}

			.logged-in-wrapper {
				cursor: pointer;
			}

			.drawer {
				list-style: none;
				margin: 0;
				max-height: 0;
				overflow: hidden;
				padding: 0;
				position: fixed;
				right: 0;
				top: 0;
				transition: max-height .3s;
				width: 100%;
				z-index: 1000;
			}

			:host(.visible) .drawer {
				/* This is an arbitrary number larger than the combined height of the
				li children, so that transition animation works. With max-height: auto,
				it wouldn't be guaranteed to work. */
				max-height: 600px;
			}

			.drawer ::content a {
				display: block;
				height: auto;
				line-height: normal;
				overflow: hidden;
				padding: 0.625rem 0.8125rem;
				text-overflow: ellipsis;
				width: 100%;
			}

			.drawer ::content a:active {
				background-color: #F2F6FA;
			}

			.drawer ::content li {
				background-color: #fff;
				border: solid #d0d0d0;
				border-width: 0 1px 1px 1px;
			}

			.overlay {
				background-color: black;
				height: 100%;
				left: 0;
				opacity: 0;
				position: fixed;
				top: 0;
				transition: visibility 0s 0.3s, opacity 0.3s;
				visibility: hidden;
				width: 100%;
				z-index: 800;
			}

			:host(.visible) .overlay {
				opacity: 0.5;
				transition: opacity 0.3s;
				visibility: visible;
			}

			.register-cta span {
				display: none;
			}

			.register-cta figure {
				display: inline-block;
			}

			/* Don't black out the rest of the screen on larger devices */
			@media only screen and (min-width: 769px) {
				:host(.visible) .overlay {
					opacity: 0;
				}

				.drawer {
					position: absolute;
					right: 0;
					top: 35px;
					width: 150px;
				}

				.register-cta span {
					display: inline-block;
				}

				.register-cta figure {
					display: none;
				}
			}

		</style>

		<template is="dom-if" if="{{userLoggedIn}}">
			<div class="logged-in-wrapper">
				<figure id="special" on-click="toggleDropdown">
					<img src="{{userAvatarSrc}}" alt="{{userName}}">
				</figure>
				<div class="overlay" on-click="toggleDropdown"></div>
				<ul class="drawer">
					<content></content>
				</ul>
			</div>
		</template>

		<template is="dom-if" if="{{!userLoggedIn}}">
			<div class="register-cta">
				<span><a href="#">Register</a> or <a href="#">Log in</a></span>
				<figure>
					<a href="{{anonAvatarHref}}">
						<img src="{{anonAvatarSrc}}" alt="Register or log in">
					</a>
				</figure>
			</div>
		</template>
	</template>

</dom-module>

<script>
	(function () {
		Polymer({
			is: 'user-status',
			properties: {
				userAvatarSrc: String,
				userName: String,
				anonAvatarSrc: String,
				anonAvatarHref: String,
				userLoggedIn: {
					type: Boolean,
					value: false,
					reflectToAttribute: true
				},
				collapsed: {
					type: Boolean,
					value: true,
					reflectToAttribute: true
				}
			},
			toggleDropdown: function () {
				var isVisible = Array.prototype.indexOf.call(this.classList, 'visible') > -1;
				this.toggleClass('visible', !isVisible);
			}
		});
	}());
</script>
