<nav class="site-nav">
	<img src="/assets/images/wikia_logo.png" alt="Wikia">
	<ul>
		<li>
			<a href="/home">Home</a>
		</li>
		<li>
			<a href="/colors">Colors</a>
		</li>
		<li>
			<a href="/typography">Typography</a>
		</li>
		<li>
			<a href="/buttons">Buttons</a>
		</li>
		<li>
			<a href="/forms-dropdowns">Forms &amp; Dropdowns</a>
		</li>
		<li>
			<a href="/grid-system">Grid System</a>
		</li>
		<li>
			<a href="/imagery">Imagery</a>
		</li>
		<li>
			<a href="/video">Video</a>
		</li>
		<li>
			<a href="/community-theming">Community Theming</a>
		</li>
		<li>
			<a href="/download">Download Resources</a>
		</li>
	</ul>
</nav>