<nav class="site-nav">
	<img src="assets/images/wikia_logo.svg" alt="Wikia" class="logo">
	<ul>
		<li>
			<a href="section/home">Home</a>
		</li>
		<li>
			<a href="section/colors">Colors</a>
		</li>
		<li>
			<a href="section/typography">Typography</a>
		</li>
		<li>
			<a href="section/buttons">Buttons</a>
		</li>
		<li>
			<a href="section/forms">Forms &amp; Dropdowns</a>
		</li>
		<li>
			<a href="section/grid">Grid System</a>
		</li>
		<li>
			<a href="section/imagery">Imagery</a>
		</li>
		<li>
			<a href="section/video">Video</a>
		</li>
		<li>
			<a href="section/theming">Community Theming</a>
		</li>
		<li>
			<a href="section/download">Download Resources</a>
		</li>
	</ul>
</nav>
