@import "../vendor/wikia-style-guide/src/scss/lib/components/global";

$site-nav-width: 300px;
$color-blue-gray: #c7d1d8;

/**
 * Site header
 */
.site-header {
	border-top: 5px solid $grey-color-dark;
	border-bottom: 1px solid $grey-color-light;
	min-height: 56px;

	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	font-size: 26px;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: $grey-color-dark;
	}
}

.site-nav {
	border-right: 1px solid #C7D1D3;
	font-size: 14px;
	height: 100%;
	padding: 60px 0 0 50px;
	position: fixed;
	width: $site-nav-width;

	a {
		color: #9f9f9f;
	}

	.logo {
		fill: #092344;
		margin-bottom: 38px;
		width: 92px;
	}

	ul {
		line-height: 39px;
		list-style: none;
		margin: 0;
	}
}


/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
	font-size: 15px;
	color: $grey-color;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(35% - (#{$spacing-unit} / 2));
	width:		 calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(20% - (#{$spacing-unit} / 2));
	width:		 calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: -webkit-calc(45% - (#{$spacing-unit} / 2));
	width:		 calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:		 calc(50% - (#{$spacing-unit} / 2));
	}

	.footer-col-3 {
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:		 calc(100% - (#{$spacing-unit} / 2));
	}
}

@include media-query($on-palm) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:		 calc(100% - (#{$spacing-unit} / 2));
	}
}



/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0;
	margin-left: $site-nav-width;

	button {
		margin-right: 60px;
	}

	div {
		&.row {
			background-color: #c6f1fe;
			background-image: repeating-linear-gradient(90deg, transparent, transparent 7%, rgba(257,255,255,1) 7%, rgba(255,255,255,1) 8.4%);
			height: 60px;
		}
	}

	h1.header {
		font-weight: 700;
	}

	h4 {
		border-bottom: 1px solid $color-blue-gray;
		margin-top: 60px;
	}

	header {
		background: #fff url(../assets/images/bg_universe.png) center top;
		color: #fff;
		margin: -30px 0 0 -30px;
		padding: 50px 30px;
	}

	.icon-btn {
		float: left;
		height: 38px;
		margin-right: 10px;
		width: 38px;
	}

	li.metric {
		float: left;
		margin: 0 30px 30px 0;
		width: 140px;

		.value {
			color: #a1a1a1;
			font-size: 30px;

			span {
				font-size: 84px;
				font-weight: bold;
			}
		}

		.description {
			color: #555;
			text-transform: uppercase;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	p {
		margin-top: 20px;
	}

	.pagination {
		div.active, div.inactive {
			float: left;
			width: 200px;

			img {
				height: 18px;
				weight: 18px;
			}
		}

		> div {
			padding-bottom: 20px;
		}

		div.dot {
			.page {
				cursor: pointer;
				float: left;
				padding: 5px;

				span {
					border: 1px solid #ccc;
					border-radius: 4px;
					display: block;
					height: 9px;
					width: 9px;
				}

				&.selected span {
					border: 1px solid #000;
					background-color: #000;
				}
			}
		}

		div.numbered {
			a, span {
				float: left;
				line-height: 18px;
				text-align: center;
				width: 34px;
			}

			img {
				height: 18px;
				weight: 18px;
			}

			span.page {
				font-weight: bold;
			}
		}
	}

	.wrapper {
		padding: 0 50px 50px 30px;
	}
}

.page-heading {
	font-size: 20px;
}
