$avatar-size: 36px;
$site-nav-width: 300px;

@mixin column-background($columns) {
	background-image: repeating-linear-gradient(90deg, #fff, #ddf7fe 50%/$columns, #ddf7fe, #fff 100%/$columns) !important;
}

/**
 * Site header
 */
.site-header {
	border-top: 5px solid $grey-color-dark;
	border-bottom: 1px solid $grey-color-light;
	min-height: 56px;

	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	font-size: 26px;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: $grey-color-dark;
	}
}

.site-nav {
	font-size: 14px;
	padding-top: 30px;

	a {
		color: #9f9f9f;
	}

	.logo {
		fill: #092344;
		margin-bottom: 38px;
		width: 92px;
	}

	ul {
		line-height: 39px;
		list-style: none;
		margin: 0;
	}
}

/**
 * Page content
 */

.section-header {
    border-bottom: 1px solid gray;
    margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.page-content {
    border-left: 1px solid #c7c7c7;
	min-height: 1200px;
	padding-bottom: 40px;

	.hero {
		background: #fff url(../assets/images/bg_universe.png) center top;
		color: #fff;
		margin-bottom: 20px;
		padding: 50px 30px;

		* {
			color: #fff;
		}
	}
	.avatar {
		background-color: #ddf7fe;
		border: 1px solid #c7c7c7;
		border-radius: 50%;
		height: $avatar-size;
		width: $avatar-size;
	}

	.avatar-width {
		border: 1px dashed #c7c7c7;
		border-width: 0 1px;
		height: $avatar-size;
		margin-top: -18px;
		width: $avatar-size;
	}

	button {
		margin-right: 60px;
		vertical-align: top;

		&.outline {
			border-style: dashed;
		}
	}

	figure {
		margin: 0;

		a {
			border: 1px solid #c7c7c7;
			display: block;
		}

		&.landscape, &.video {
			&.xlarge {
				width: 720px;

				a {
					@include column-background(12);
					height: 405px;
				}
			}

			&.large {
				width: 480px;

				a {
					@include column-background(8);
					height: 270px;
				}
			}

			&.medium {
				width: 360px;

				a {
					@include column-background(6);
					height: 203px;
				}
			}

			&.small {
				width: 240px;

				a {
					@include column-background(4);
					height: 135px;
				}
			}

			&.xsmall {
				width: 180px;

				a {
					@include column-background(3);
					height: 101px;
				}
			}

			&.thumb {
				width: 120px;

				a {
					@include column-background(2);
					height: 68px;
				}
			}
		}

		&.portrait {
			&.medium {
				width: 240px;

				a {
					@include column-background(4);
					height: 336px;
				}
			}

			&.small {
				width: 180px;

				a {
					@include column-background(3);
					height: 252px;
				}
			}

			&.thumb {
				width: 120px;

				a {
					@include column-background(2);
					height: 168px;
				}
			}
		}

		&.custom {
			width: 720px;

			a {
				@include column-background(12);
				height: 180px;
			}
		}

		&.video {
			a {
				position: relative;

				&.example {
					background-color: #dff7fe;
					background-image: none !important;
				}
			}

			.play-icon {
				background-image: url(../assets/images/icons/icon_play.svg);
				display: block;
				position: absolute;
			}

			&.xlarge {
				a.example {
					background-image: linear-gradient(0deg, #c0c0c0, transparent 40%) !important;
				}

				figcaption {
					color: #fff;
					font-size: 26px;
					height: 62px;
					left: 125px;
					line-height: 32px;
					margin-top: -85px;
					overflow-y: hidden;
					position: absolute;
					text-shadow: #999 1px 1px;
					width: 590px;
				}

				.play-icon {
					background-size: 76px 76px;
					bottom: 18px;
					height: 76px;
					left: 18px;
					width: 76px;
				}
			}

			&.large {
				figcaption {
					color: #656E78;
					font-size: 14px;
					line-height: 1.4;
					padding: 15px;
					text-align: justify;

					span {
						color: #1A5EB8;
						font-size: 24px;
						font-weight: bold;
					}
				}

				.play-icon {
					background-size: 51px 51px;
					bottom: 10px;
					height: 51px;
					left: 10px;
					width: 51px;
				}
			}

			&.medium .play-icon {
				background-size: 38px 38px;
				bottom: 10px;
				height: 38px;
				left: 10px;
				width: 38px;
			}

			&.small {
				figcaption {
					color: #1A5EB8;
					font-size: 14px;
					padding: 10px;
				}

				.play-icon {
					background-size: 30px 30px;
					bottom: 9px;
					height: 30px;
					left: 9px;
					width: 30px;
				}
			}

			&.xsmall .play-icon {
				background-size: 25px 25px;
				bottom: 7px;
				height: 25px;
				left: 7px;
				width: 25px;
			}

			&.thumb .play-icon {
				background-size: 25px 25px;
				bottom: 5px;
				height: 25px;
				left: 5px;
				width: 25px;
			}
		}
	}

	.legacy-video {
		border: 1px dashed #999;
		width: 240px;

		figure.video {
			margin: auto;
			width: 180px;
		}
	}

	.grid {
		width: 80%;

		.row {
			background-color: #c6f1fe;
			background-image: repeating-linear-gradient(90deg, transparent, transparent 80%, white 20%, white);
			background-size: 8.5% 100%;
			height: 60px;
			margin-left: 0;
		}

		.grid-width {
			border: 1px solid #ccc;
			border-top-width: 0;
			height: 10px;
		}
	}


	.icon-btn {
		float: left;
		height: 38px;
		margin-right: 10px;
		width: 38px;
	}

	.icon-dropdown, .icon-navigation {
		margin-bottom: 40px;

		img {
			height: 38px;
			margin-right: 10px;
			width: 38px;
		}
	}

	.icon-navigation {
		img, ul {
			float: left;
		}
	}

	p {
		margin-top: 20px;
	}

	.pagination {
		margin-bottom: 0;

		div.active, div.inactive {
			float: left;
			width: 200px;
		}

		div.dot {
			.page {
				cursor: pointer;
				float: left;
				padding: 5px;

				span {
					border: 1px solid #ccc;
					border-radius: 4px;
					display: block;
					height: 9px;
					width: 9px;
				}

				&.selected span {
					border: 1px solid #000;
					background-color: #000;
				}
			}
		}
	}

	ul {
		&.f-dropdown {
			display: block;
			position: static;
		}

		&.metrics {
			list-style: none;

			li.metric {
				float: left;
				margin: 0 30px 30px 0;
				width: 140px;

				.value {
					color: #a1a1a1;
					font-size: 30px;

					span {
						font-size: 84px;
						font-weight: bold;
					}
				}

				.description {
					color: #555;
					text-transform: uppercase;
				}

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}

	.wrapper {
		padding: 0 50px 50px 30px;
	}
}

aside {
	background-color: #EFF8E9;
	margin: 20px 0;
	padding: 7px;
}
