<nav class="global-navigation">
	<div class="row">
		<div class="large-12 columns">
			<img src="{{ site.assets_path | prepend: site.baseurl }}/images/wikia_logo.svg" alt="Wikia" class="logo left">
			<a class="menu-icon dropdown-icon left"></a>
			<ul class="f-dropdown" data-offset-x="-3" data-offset-y="14">
				<li>
					<a href="{{site.baseurl}}/">Home</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/section/colors">Colors</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/section/typography">Typography</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/section/buttons">Buttons</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/section/forms">Forms &amp; Dropdowns</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/section/imagery">Imagery</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/section/video">Video</a>
				</li>
			</ul>

			<span class="title left">Styleguide</span>
		</div>
	</div>
</nav>
