<!--

Wikia Style Guide
Global Top Bar

This component provides a default top bar for Wikia websites and includes handling for logged in user state or a call
to action for anonymous users.
-->
<dom-module id="top-bar">
  <style>
    [unresolved] {
      visibility: hidden;
    }

    :host {
      display: block;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      height: 46px;
      position: fixed;
      width: 100%;
      z-index: 9999999;
    }

    .logo {
      fill: #092344;
      width: 82px;
    }

    .user-status {
      float: right;
    }

    .user-status figure {
      margin-top: 3px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
    }

    .user-status figure img {
      width: 100%;
      height: auto;
    }

    .register-cta {
      margin-top: 10px;
    }
  </style>
  <template>

    <div class="row">
      <div class="large-12 columns">
        <a href="{{logoHref}}"><img src="{{logoSrc}}" alt="Wikia" class="logo left"></a>

        <!-- Catch&#45;all for transcluded content -->
        <content></content>

        <div class="user-status">

          <template is="dom-if" if="{{userLoggedIn}}">
            <a href="{{userAvatarHref}}">
                <figure>
                  <img src="{{userAvatarSrc}}" alt="{{userName}}">
              </figure>
            </a>
          </template>

          <template is="dom-if" if="{{!userLoggedIn}}">
              <div class="register-cta">
                <a href="#">Register</a> or <a href="#">Login</a>
              </div>
          </template>

        </div>
      </div>
    </div>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'top-bar',
    properties: {
      userAvatarSrc: String,
      userProfileHref: String,
      userName: String,
      logoHref: String,
      logoSrc: String,
      userLoggedIn: {
        type: Boolean,
        value: false,
        reflectToAttribute: true
      }
    }
  });
</script>

