top-bar {
	display: block;
	visibility: hidden;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	height: 46px;
	position: fixed;
	width: 100%;
	z-index: 9999999;

	.logo {
		fill: #092344;
		width: 82px;
	}
}